<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <title>Sinhgad</title>
</head>
<style>
    @media all and (max-width:730px){
        .contacthead{
        margin-top: -3%;
    }
  
}
</style>
<body>
    <!----SECTION ONE-->
    <section class="one">
        <div class="one">
            <div class="headercont">
                <div class="icon">
                    <img src="./sin4.png" alt="">
                </div>
                <div class="heading" style="text-align: center;">
                    <h2>Sinhgad Technical Education Society's</h2>
                    <h1>Sinhgad Institutes, Lonavala</h1>
                    <p>Kusgaon(Bk), Lonavala, Pune-410401, Maharashtra, India</p>
                    <p>Tel. No.(02114)673393</p>
                </div>
            </div>

            <div class="middletext">
                <div class="midtext1">
                    <p>ORGANISING</p>
                </div>
                <div class="midtext2">
                    <h2>A STATE LEVEL</h2>
                </div>
                <div class="midtext3">
                    <h2>TECHNICAL PROJECT COMPETITION & EXHIBITION</h2>
                </div>
                <div class="midtext4">
                    <h2>FOR DIPLOMA ENGINEERING STUDENTS</h2>
                </div>
            </div>

            <div class="midpics">
                <div class="pic1">
                    <div class="inpic1">
                    <img src="genesis-removebg-preview.png" alt="">
                </div>
                    <div class="pic1text">
                        <h2>GENESIS TECHiNOFAIR'20</h2>
                    </div>
                </div>
              
           
                <div class="pic2">
                    <div class="inpic2">
                        <img src="iitbomb.png" alt="">
                    </div>
                    <div class="pic2text">
                        <h2>Free Spoken Tutorial Certificate by, IIT Bombay</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----SECTION TWO-->
    <section class="two">
        <div class="two">
        <div class="pricecont">
            <h2 id="title">PRIZES Worth &#8377; 25000/-</h2>
        </div>
        <div class="mainsent">
            <h2>Registration Fees :&#8377; 200/- per Group </h2>
        </div>
        <div class="subsent">
            <h2>(Group contains 4 Members)</h2>
        </div>
        <div class="btn">
            <a href="register.html"><button id="registerbtn" style="font-family: 'Oxanium', cursive;font-size: 1.7rem;">Register Here !</button></a>
        </div>
        <div class="btn">
            <a href="videos.html"><button id="registerbtn" style="font-family: 'Oxanium', cursive;font-size: 1.7rem;">View Gallery</button></a>
        </div>
        <div class="datetitle">
            <h2 data-aos="fade-up">Important Dates</h2>
        </div>
        <div class="date1">
            <h2>Last date of Registration - <span style="color: #fff;   text-shadow: 1px 1px 0px #000000;">11th</span> March <span style="color: #fff;   text-shadow: 1px 1px 0px #000000;">2020</span></h2>
        </div>
        <div class="date2">
            <h2>Date of Intimation - <span style="color: #fff;   text-shadow: 1px 1px 0px #000000;">13th</span> March <span style="color: #fff;   text-shadow: 1px 1px 0px #000000;">2020</span></h2>
        </div>
        <div class="date3">
            <h2>Date of Exhibition - <span style="color: #fff;   text-shadow: 1px 1px 0px #000000;">14th</span> March <span style="color: #fff;   text-shadow: 1px 1px 0px #000000;">2020</span></h2>
        </div>
        </div>
    </section>
    <!----------------------------------------------->
    <section class="four">
        <div class="four">
            <div class="streamtitle">
                <h2  data-aos="fade-up">Streams</h2>
            </div>
            <div class="streamsname">
                <div class="stream1">
                    <h2><li>Computer Engineering / Information Technology</li></h2>
                </div>
                <div class="stream2">
                    <h2><li>Electrical Engineering</li></h2>
                </div>
                <div class="stream3">
                    <h2><li>Mechanical / Automobile Engineering</li></h2>
                </div>
                <div class="stream4">
                    <h2><li>Civil Engineering</li></h2>
                </div>
                <div class="stream5">
                    <h2><li>Electronics & Telecommunication Engineering</li></h2>
                </div>
            </div>
        </div>
    </section>
<!----------------------------------------------->
<section class="five">
    <div class="five">
       
    <div class="wrap">
        <div class="title">
            <h2  data-aos="fade-up">Rules</h2>
        </div>
        <div class="rule1">
            <h2><li>Prior registration is must</li>   </div>
        <div class="rule2">
            <h2><li>Maximum group size is 4 students.</li></h2>
        </div>
        <div class="rule3">
            <h2><li>Judges decision will be final</li></h2>
        </div>
        <div class="rule4">
            <h2><li>If any special requirement for any project, need to inform in advance</li></div>
     
        <div class="rule5">
            <h2><li>Provide a Project Presentation Video (Maximum 10 minutes) to clearly explain your solution</li>
            </div>
     
        <div class="rule6">
            <h2 ><li >Students must be prepared to answer judges questions about the content and development of their projects.</li></div>
      
        <div class="rule7">
            <h2 ><li >Accomodation is free for all the participants.</li>
            </div>
            <div class="rule8">
                <h2 ><li >Registration fees is  &#8377;200 per group</li>
                </div>
                <div class="rule9">
                    <h2 ><li >All participants will get the Participation Certificate</li>
                    </div>
        
    </div>
    </div>
</section>
     <!----------------------------------------------->
     <section class="six">
        <div class="six">
            <div class="contacts contacthead">
                <div class="contactheader">
                <h1 data-aos="fade-up">Contact Us</h1>
               <div class="iconscard">
                   
                   <div data-aos="fade-up" class="iconcard2">
                    <div class="icon">
                        <i class="fa fa-phone" aria-hidden="true" style="color: #000000;"></i>
                       </div>
                       <div class="titl">Phone-Number</div>
                       <div class="info"><a href="tel://+919922431617">+91 9922431617</a></div>
                       <div class="info"><a href="tel://+919423933086">+91 9423933086</a></div>
                   </div>
                   <div data-aos="fade-up" class="iconcard3" style="margin-bottom: 3%;">
                    <div class="icon">
                        <i class="fa fa-commenting-o" aria-hidden="true" style="color: #000000;"></i>
                       </div>
                       <div class="titl">Email-Address</div>
                       <div class="info"><a href="smtp://ac3101282@gmail.com">genesis.sinhgad2020@gmail.com</a></div>
                   </div>
               
                 
               </div>
            </div>
            </div>
         
        </div>
    </section>
    <!-------------------------------------------------------->
    
    
        <!-------------------------------------------------------->
   
                <!-------------------------------------------------------->
              

                   <!-------------------------------------------------------->
                   <section class="ten" >
                    <div class="ten">
                       <div class="title">
                           <h2  data-aos="fade-up">Developed By</h2>
                       </div>
                     <div class="credits" data-aos="fade-up">
                         <h2>ADITYA <span style="color: rgb(255, 209, 58);">CHAUDHARY</span></h2>
                     </div>
                 <div class="creditdesc">
                     <h2> Third Year Engineering, Electronics & Telecommunication, SIT, Lonavala </h2>
                 </div>
        
                    </div>
                </section>
</body>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript">
var app = document.getElementById('title');

var typewriter = new Typewriter(app, {
    loop: true
});

typewriter.typeString('PRIZES Worth Rs 25000/-')
    .pauseFor(2500)
    .deleteAll()
    .start();

    AOS.init();
</script>
</html>