@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    color: #ffffff;
    font-family: 'Poppins', Arial, sans-serif;
    background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
}

h2,
h4 {
    font-weight: 900;
}

.one {
    background: #d1d39a;
    background-repeat: repeat-x;

    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */

}

.headercont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgb(4, 190, 4);
    text-shadow: 1px 1px 2px #000000;

}

.headercont .icon img {

    height: 100px;
    width: 150px;
}

.headercont .heading h2 {
    position: relative;
    right: 49%;
    font-size: 1rem;
}

.headercont .heading h1 {
    position: relative;
    right: 49%;
    font-size: 2.2rem;
}

.headercont .heading p {
    position: relative;
    right: 49%;
    margin-bottom: 2%;
}

.middletext {
    color: #000000;
}

.midtext1 {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    font-weight: bolder;
}

.midtext2 {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    font-weight: bolder;
    color: rgb(21, 167, 21);

    font-family: 'Alfa Slab One', sans-serif;

    font-family: 'Luckiest Guy', sans-serif;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #000000;
}

.midtext3 {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    font-weight: bolder;
    color: rgb(21, 167, 21);
    font-family: 'Alfa Slab One', sans-serif;
    font-family: 'Luckiest Guy', sans-serif;
    font-family: 'Anton', sans-serif;


    letter-spacing: 5px;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #000000;
}

.midtext4 {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    font-weight: bolder;
    color: #ffffff;


    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #000000;
}

/*.midpics{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
    margin-left: 23%;
    margin-top: 2%;
}

.pic2{
    position: relative;
    left: 0%;
}

.pic1 img{
    height: 250px;
    width: 250px;
}*/
.midpics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2%;
    background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
}

.pic1 img {
    height: 250px;
    width: 250px;
}

.pic1 .inpic1 {
    display: flex;
    justify-content: center;
}

.pic2 .inpic2 {
    display: flex;
    justify-content: center;
}

.pic2 img {
    height: 250px;
    width: 250px;
}

.pic1text {
    text-align: center;
    font-size: 2rem;
    color: rgb(37, 155, 37);
    text-shadow: 1px 1px 1px #000000;
}

.pic2text {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(36, 185, 36);
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media all and (max-width:730px) {

    .headercont {
        display: grid;
        grid-template-columns: 100%;
        background: green;

    }

    .headercont .heading h2 {
        position: relative;
        left: 0%;
        font-size: 1rem;
    }

    .headercont .heading h1 {
        position: relative;
        left: 0%;
        font-size: 2.2rem;
    }

    .headercont .heading p {
        position: relative;
        left: 0%;
        font-size: 1rem;
    }

    .midpics {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 2%;
        background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
    }

    .midtext1 {
        display: flex;
        justify-content: center;
        margin-top: 0%;
        font-weight: bolder;
    }

    .midtext2 {
        display: flex;
        justify-content: center;
        margin-top: 0%;
        font-weight: bolder;
        color: rgb(21, 167, 21);

        font-family: 'Alfa Slab One', sans-serif;

        font-family: 'Luckiest Guy', sans-serif;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
        font-size: 1.2rem;
        text-shadow: 1px 1px 1px #000000;
    }

    .midtext3 {
        display: flex;
        justify-content: center;
        margin-top: 0%;
        margin-left: 2%;
        margin-right: -2%;
        font-weight: bolder;
        color: rgb(21, 167, 21);
        font-family: 'Alfa Slab One', sans-serif;
        font-family: 'Luckiest Guy', sans-serif;
        font-family: 'Anton', sans-serif;
        letter-spacing: 2px;
        font-size: 1rem;
        text-shadow: 1px 1px 1px #000000;
    }

    .midtext4 {
        display: flex;
        justify-content: center;
        margin-top: 0.5%;
        font-weight: bolder;
        color: #ffffff;
        font-weight: bolder;
        letter-spacing: 1px;
        font-size: 0.7rem;
        text-shadow: 1px 1px 2px #000000;
    }

    .pic1 img {
        height: 200px;
        width: 200px;
    }

    .pic1 .inpic1 {
        display: flex;
        justify-content: center;
    }

    .pic2 .inpic2 {
        display: flex;
        justify-content: center;
    }

    .pic2 img {
        height: 200px;
        width: 200px;
    }

    .pic1text {
        text-align: center;
        font-size: 1.5rem;
        color: rgb(37, 155, 37);
        text-shadow: 1px 1px 1px #000000;
        margin-bottom: 10%;
    }

    .pic2text {
        text-align: center;
        font-size: 1rem;
        color: rgb(36, 185, 36);
        color: #ffffff;
        text-shadow: 1px 1px 1px #000000;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10%;
    }
}

/************************************************************************************************************/
.two {
    background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
    background-repeat: repeat-x;

    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */

}

.pricecont {
    display: flex;
    justify-content: center;
}

.pricecont h2 {
    font-size: 2.8rem;
    text-shadow: 1px 1px 1px #000000;
    color: rgb(21, 167, 21);
}

.mainsent {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    text-shadow: 1px 1px 1px #000000;
}

.subsent {
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 1px #000000;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.btn button {
    padding: 0.5em 0.5em;
    background: #ffffff;
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oxanium', cursive;
    font-weight: bolder;
}

.btn button:hover {
    transition: all .3s;
    background: rgb(21, 167, 21);
    color: #ffffff;
    box-shadow: 1px 1px 7px #000000;
}

.datetitle {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.datetitle h2 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 0px #000000;
    color: rgb(8, 83, 8);

}

.date1 {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #000000;
    text-shadow: 1px 1px 10px #ffffff;
}

.date2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    color: #000000;
    text-shadow: 1px 1px 10px #ffffff;
}

.date3 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    color: #000000;
    text-shadow: 1px 1px 10px #ffffff;
}

@media all and (max-width:730px) {

    .pricecont h2 {
        font-size: 1.7rem;
        text-shadow: 1px 1px 1px #000000;
        color: rgb(21, 167, 21);
    }

    .mainsent {
        display: flex;
        justify-content: center;
        margin-top: 4%;
        text-shadow: 1px 1px 1px #000000;
    }

    .mainsent h2 {
        font-size: 1rem;
    }

    .subsent {
        display: flex;
        justify-content: center;
        text-shadow: 1px 1px 1px #000000;
        font-size: 0.6rem;
    }

    .btn {
        display: flex;
        justify-content: center;
        margin-top: 6%;
    }

    .btn button {
        padding: 0.5em 0.5em;
        background: #ffffff;
        border: none;
        font-size: 1rem;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }

    .datetitle {
        display: flex;
        justify-content: center;
        margin-top: 10%;
    }

    .datetitle h2 {
        font-size: 2rem;
        text-shadow: 1px 1px 0px #000000;
        color: rgb(8, 83, 8);

    }

    .date1 {
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 1%;
        color: #000000;
        text-shadow: 1px 1px 10px #ffffff;
    }

    .date1 h2 {
        font-size: 1rem;
    }

    .date2 h2 {
        font-size: 1rem;
    }

    .date3 h2 {
        font-size: 1rem;
    }

    .date2 {
        display: flex;
        justify-content: center;
        margin-bottom: 1%;
        color: #000000;
        text-shadow: 1px 1px 10px #ffffff;
    }

    .btn button {
        padding: 0.5em 0.5em;
        background: #ffffff;
        border: none;
        font-size: 1.4rem;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Oxanium', cursive;
        font-weight: bolder;
    }

}

/************************************************************************/
.four {
    background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
    background-repeat: repeat-x;

    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */
}

.streamtitle {
    display: flex;
    justify-content: center;

}

.streamtitle h2 {
    margin-top: 1%;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px #000000;
    color: rgb(21, 167, 21);

}

.streamsname {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4%;
    margin-left: 10%;

}

.streamsname h2 {
    margin-bottom: 5%;
    text-shadow: 1px 1px 1px #000000;
    font-size: 2rem;
}

@media all and (max-width:730px) {
    .streamsname {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 100%;
        margin-top: 0%;
        margin-left: 5%;

    }

    .streamtitle h2 {
        margin-top: -25%;
        font-size: 2rem;
        text-shadow: 1px 1px 1px #000000;
        color: rgb(21, 167, 21)
    }

    .streamsname h2 {
        margin-bottom: 0%;
        text-shadow: 1px 1px 1px #000000;
        font-size: 1.5rem;
    }
}

/*********************************************/
.six {
    background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
    background-repeat: repeat-x;

    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */
}

.contacts {
    display: grid;
    grid-template-rows: minmax(min-content, 150px) min-content;
}

.contacts .contactheader {
    display: grid;
    grid-template-rows: minmax(min-content, 150px) min-content;
    place-items: center;
    grid-auto-flow: row;
    align-content: space-evenly;
}

.contacts .contactheader h1 {
    font-weight: bold;
    font-size: 2.9rem;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    color: #1d1c1c;
    color: #e2dee6;
    text-shadow: 1px 1px 3px #000000;
    margin-top: 0%;
    user-select: none;
    -webkit-user-select: none;
}

.iconscard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 50px;
    margin-top: 2%;
}

a {
    text-decoration: none;
}

.iconscard .titl {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
}

.iconscard .info {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-top: 10%;
    color: #999999;
    font-size: 1rem;
}

.iconscard .iconcard1 .icon {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    border-radius: 150px;
    cursor: pointer;
}

.iconscard .iconcard1 .icon i {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.8rem;
    color: #ffbd39;
}

.iconscard .iconcard2 .icon {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    border-radius: 150px;
    cursor: pointer;
}

.iconscard .iconcard2 .icon i {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.8rem;
    color: #ffbd39;
}

.iconscard .iconcard3 .icon {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    border-radius: 150px;
    cursor: pointer;
}

.iconscard .iconcard3 .icon i {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.8rem;
    color: #ffbd39;
}

.iconscard .iconcard4 .icon {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    border-radius: 150px;
    cursor: pointer;
    margin-bottom: 4%;
}

.iconscard .iconcard4 .icon i {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 1.8rem;
    color: #ffbd39;
}

@media all and (max-width:730px) {

    .iconscard {
        display: grid;
        grid-template-columns: 100%;

        grid-gap: 50px;
        margin-top: 2%;
    }

    .contacts .contactheader h1 {
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: "Poppins", Arial, sans-serif;
        color: #1d1c1c;
        color: #e2dee6;
        text-shadow: 1px 1px 3px #000000;
        margin-top: -5%;
        user-select: none;
        -webkit-user-select: none;
    }

}

/*********************************************************************************************************/
.five {
    background: rgb(21, 167, 21);
    background-repeat: repeat-x;

    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */
}

.wrapper {
    margin-bottom: 3%;
}

.wrap {
    border-radius: 10px;
    background: linear-gradient(145deg, #16b316, #139613);
    box-shadow: 35px 20px 50px #108110,
        -20px -20px 50px #1acd1a;
    margin-left: 4%;
    margin-right: 4%;

}

.wrap .title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.wrap .title h2 {
    margin-top: 2%;
    margin-bottom: 0.5%;
    text-shadow: 1px 1px 5px #000000;
}

.wrap div h2 {
    margin: 25px 10px;
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
    margin-bottom: 3%;
}

@media all and (max-width:730px) {
    .wrap .title h2 {
        margin-top: 2%;
        margin-bottom: 2%;
        text-shadow: 1px 1px 5px #000000;
        font-size: 1.8rem;
    }

    .wrap div h2 {
        margin: 25px 10px;
        text-shadow: 1px 1px 1px #000000;
        text-align: center;
        margin-bottom: 3%;
        font-size: 1rem;
    }

}

/**************************************************************************/
.seven {
    background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
    background-repeat: repeat-x;

    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */
}


.title {
    display: flex;
    justify-content: center;
}

.title h2 {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 2.9rem;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    color: #1d1c1c;
    color: #fefeff;
    text-shadow: 1px 1px 3px #000000;
    margin-top: 0%;
    user-select: none;
    -webkit-user-select: none;
}

.seven .image1,
.image2 {
    display: flex;
    justify-content: center;
}

.image1 {
    margin-bottom: 4%;
}

@media all and (max-width:730px) {
    .image1 {
        margin-bottom: 4%;
    }

    .title h2 {
        margin-bottom: 10%;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: "Poppins", Arial, sans-serif;
        color: #1d1c1c;
        color: #e2dee6;
        text-shadow: 1px 1px 3px #000000;
        margin-top: 0%;
        user-select: none;
        -webkit-user-select: none;
    }

    .image1 {
        margin-bottom: 10%;
    }
}

.eight {
    background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
    background-repeat: repeat-x;

    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */
}


.title {
    display: flex;
    justify-content: center;
}

.title h2 {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 2.9rem;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    color: #1d1c1c;
    color: #fefeff;
    text-shadow: 1px 1px 3px #000000;
    margin-top: 0%;
    user-select: none;
    -webkit-user-select: none;
}

.eight .image1 {
    display: flex;
    justify-content: center;
}

.image1 {
    margin-bottom: 4%;
}

@media all and (max-width:730px) {
    .image1 {
        margin-bottom: 4%;
    }

    .title h2 {
        margin-bottom: 10%;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: "Poppins", Arial, sans-serif;
        color: #1d1c1c;
        color: #e2dee6;
        text-shadow: 1px 1px 3px #000000;
        margin-top: 0%;
        user-select: none;
        -webkit-user-select: none;
    }

    .image1 {
        margin-bottom: 10%;
    }
}


.nine {
    background: linear-gradient(#d1d39a, rgb(21, 167, 21), #d1d39a);
    background-repeat: repeat-x;

    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */
}


.title {
    display: flex;
    justify-content: center;
}

.title h2 {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 2.9rem;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    color: #1d1c1c;
    color: #fefeff;
    text-shadow: 1px 1px 3px #000000;
    margin-top: 0%;
    user-select: none;
    -webkit-user-select: none;
}

.nine .image1 {
    display: flex;
    justify-content: center;
}

.image1 {
    margin-bottom: 4%;
}

@media all and (max-width:730px) {
    .image1 {
        margin-bottom: 4%;
    }

    .title h2 {
        margin-bottom: 10%;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 2px;
        font-family: "Poppins", Arial, sans-serif;
        color: #1d1c1c;
        color: #e2dee6;
        text-shadow: 1px 1px 3px #000000;
        margin-top: 0%;
        user-select: none;
        -webkit-user-select: none;
    }

    .image1 {
        margin-bottom: 10%;
    }
}

.ten {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(myself.jpg);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    /* may not be necessary */
}

.ten .title h2 {
    margin-top: 2%;
}

.credits {
    display: flex;
    justify-content: center;
}

.credits h2 {
    margin-top: 10%;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Poppins", Arial, sans-serif;
    color: #1d1c1c;
    color: #e9d0d0;
    text-shadow: 1px 1px 3px #000000;

    user-select: none;
    -webkit-user-select: none;
}

.portbutton {
    display: flex;
    justify-content: center;
}

.portbutton button {
    margin-top: 3%;
    padding: 0.5em 0.5em;
    background: #ffffff;
    border: none;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.portbutton button:hover {
    transition: all .3s;
    background: linear-gradient(145deg, #4d4b4b, #5a5858);
    color: rgb(255, 209, 58);

}

.creditdesc {
    display: flex;
    justify-content: center;
    font-family: 'Oxanium', cursive;
    margin-top: 2%;
}

@media all and (max-width:730px) {
    .ten {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(myself.jpg);
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
        width: 101%;
        /* may not be necessary */
    }

    .credits h2 {
        margin-top: 10%;
        font-size: 1.7rem;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: "Poppins", Arial, sans-serif;
        color: #1d1c1c;
        color: #e9d0d0;
        color: #ffffff;
        text-shadow: 1px 1px 3px #000000;

        user-select: none;
        -webkit-user-select: none;
    }

    .portbutton button {
        margin-top: 3%;
        padding: 0.5em 0.5em;
        background: #ffffff;
        border: none;
        font-size: 1rem;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
    }

    .creditdesc {
        display: flex;
        justify-content: center;
        font-family: 'Oxanium', cursive;
        margin-top: 3%;
        font-size: .6rem;
        margin-left: 1%;
        margin-right: 3%;
    }
}